@import "./fonts.css";

* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.header__logo {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    gap: 14px;
}

.header__logo_text-black {
    color: #000;
    padding-top: 5px;
}

.header_logo_text-orange {
    color: #F25822;
}

.header__links {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 11px;
    display: flex;
    justify-content: space-between;
    width: 534px;
    padding-right: 30px;
}

.header__links_selected {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

.header__links_unselected {
    color: #000;
    font-family: Gilroy-Medium;
}

.top {
    padding-top: 44px;
    padding-bottom: 162px;
    display: flex;
    gap: 40px;
}

.top__content {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content__text_h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
    width: 522px;
}

.top__content__text_text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-top: 16px;
    width: 466px;
}

.top__content__buttons {
    margin-top: 36px;
    display: flex;
    gap: 72px;
}

.top__content__button-big {
    color: #FFF;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 16px 36px;
    border: none;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-weight: 400;
}

.top_content__button-small {
    color: #AAA;
    border: none;
    background-color: #FFF;
    font-size: 15px;
    font-family: Gilroy-Bold;
    font-weight: 400;
}

.logos {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
}

.business-development {
    padding-top: 100px;
    padding-bottom: 100px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 292px;
    justify-content: center;
}

.business-development__box {
    padding: 40px 30px 25px 30px;
}

.business-development__box_shadow {
    background: #FFF;
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.business-development__box__heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}

.business-development__box__text {
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 16px;
    padding-right: 32px;
}

.business-development__box__readmore {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    display: flex;
    margin-top: 25px;
}

.advantages {
    padding-top: 92px;
    padding-bottom: 100px;
    background: #FAFAFA;
    text-align: center;
}

.advantages__heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 45px;
    font-weight: 400;
}

.advantages__heading__text {
    color: #AAA;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 19px;
}

.advantages__grid {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 370px);
    grid-template-rows: 549px;
    justify-content: center;
    margin-top: 55px;
}

.advantages__item {
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.advantages__item_shadow {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}

.advantages__item_img-1 {
    margin-top: 15px;
    margin-left: -37px;
    margin-bottom: -9px;
    width: 385px;
    height: 289px;
}

.advantages__item_img-2 {
    margin-left: -43px;
    margin-bottom: -1px;
    width: 396px;
    height: 297px;
}

.advantages__item_img-3 {
    margin-left: -45px;
    width: 400px;
    height: 300px;
}

.advantage__item__heading {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    z-index: 1;
}

.advantages__item__text {
    color: #AAA;
    text-align: center;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 22px;
}

.advantages__item__button {
    color: #FFF;
    text-align: center;
    font-family: Gilroy-Bold;
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    background-color: #F25822;
    padding: 15px 26px 15px 46px;
    border-radius: 50px;
    display: flex;
    gap: 6px;
    width: 80px;
}

.advantages__item__button_position {
    margin-top: 36px;
    margin-left: 70px;
}

.advantages__item__button_position-strelka {
    padding-top: 1px;
}