* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
}

.header__logo {
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header__logo_text-black {
    color: #000;
    padding-top: 5px;
}

.header_logo_text-orange {
    color: #F25822;
}

.header__links {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;
    color: #000;
    font-family: Gilroy-Medium;
}

.header__links_colored {
    color: #F25822;
    font-family: Gilroy-SemiBold;
}

/* .header__links_unselected {
    
} */

.top {
    padding-top: 44px;
    padding-bottom: 162px;
}

.top__content {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content__text_h1 {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 60px;
}

.top__content__text_text {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    margin-top: 16px;
}

.top__content__buttons {
    margin-top: 36px;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top__content__button-big {
    color: #FFF;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    padding: 16px 36px;
    border: none;
}

.top_content__button-small {
    color: #AAA;
    border: none;
    background-color: #FFF;
}


.logos {
    padding-top: 96px;
    padding-bottom: 96px;
}